body {
    background-color: #EBEBEC !important;
    font-family: Montserrat,sans-serif;
}

button a {
    text-decoration: none;
    color: #fafafa;
}

button a:hover {
    color: #fafafa;
}

#navbarNav a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 14px;
}

#navbarNav {
    position: relative;
    justify-content: end;
}
#navbarNavFooter {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 14px;
}

#navbar {
    transition: 0.4s;
    position: relative;
    z-index: 1;
 }
#logo {
    transition: 0.5s;
}

#home {
    background: #EBEBEC;
}

.bg-vs-dark {
    background: #252636;
}
.bg-vs-white {
    background-color: #ffffff;
}

.header-text {
    font-family: "Montserrat Regular", sans-serif;
    font-size: 18px;
    color: #DCD6D6;
    letter-spacing: 2px;
}


#navbarNav a {
    position: relative;
    display: block;
    padding: 4px 0;
    font-family: "Lato",sans-serif;
    font-size: 16px;
    color: #EBEBEC !important;
    text-decoration: none !important;
    /*text-transform: uppercase;*/
    transition: 0.5s
}

a.current::after {
     position: absolute;
     content: "";
     top: 100%;
     left: 0;
     width: 100%;
     height: 3px;
     background: #F5C405;
     transform: scaleX(0);
     transform-origin: right;
     transition: transform 0.5s;
 }


a.current:hover::after {
     transform: scaleX(1);
     transform-origin: bottom;
 }

.navi{
    background: #252636 !important;
    border-bottom: #F5C405 solid 3px !important;
    border-radius: 0;
    text-decoration: none;
    color: #95a5a6;

}

/*######*/
#banner-img {
    /*height: 80vh;*/
    /*width: 100%;*/

}
#home-banner {
    height: 0;
}


.img-banner {
    height: 70vh;
    filter: blur(5px);
    width: 100%;
    object-fit: cover;
}
#home-first-span {
    margin-top: 25vh;
    background: rgba(90, 96, 107, 0.76);
    margin-left: 50vw;
    position: relative;
    margin-bottom: 20vh;
    border-radius: 20px;
}
#home-first {
    margin-top: 12vh;
    /*height: 100vh;*/
    /*margin-left: 80vw;*/
    position: relative;
    /*margin-bottom: 50vh;*/
    border-radius: 20px;
}
#home-first-text {
    padding-bottom: 20px;
    width: 32vw;
}
#home-first-text button{
   width: 200px;
}

.home-banner-text strong{
    font-family: "Montserrat ExtraBold",sans-serif;
    font-size: 45px;
    color: #F5C405;
}

.home-banner-text em {
    text-decoration: underline solid #F5C405;;
}

.fa-check {
    color: #F5C405;
}

.home-banner {
    /*width: ;*/
}

.home-banner-button {
    background-color: #F5C405 !important;
    font-family: "Montserrat SemiBold",sans-serif;

}
.home-banner-button:hover {
    background-color: #cf6b01 !important;
    color: white !important;

}

.home-banner-text{
    font-family: "Montserrat Black",sans-serif;
    font-size: 45px;
}

.home-banner li {
    font-family: "Montserrat Medium",sans-serif;
    text-decoration: none;
    list-style-type: none;
}

.logo {
    /*height;*/
    position: relative;
    height: 5vh;
    width: auto;
    background: #252636;
    margin-right: 10vw;
}

.test {
    background: red;
}

#mobile-menu a{
    text-decoration: none;
    color: #fafafa;
}

.menu-item-left {
    margin-right: 2vw;
    margin-top: 0.5vh;
    /*height: 40px;*/

}

.menu-item-last {
    margin-top: 0.5vh;
    height: 40px;
}

/*###*/
.main-banner {
    height: 660px;
    width: 100vw;
}

.second-banner {

}

.main-cont-3 {
    /*background-image: url("../img/wall-dark.png");*/
    /*background-attachment: fixed;*/


}
.main-cont-4 {
    height: 770px;
    background-color: #EBEBEC;
}

.rounded-32 {
    border-radius: 32px;
}

.feedback-card {
    background: #EBEBEC;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

h2 .main-cont-4 {
    font-size: 24px;
    color: #252636;
}

h2 {
    font-size: 48px;
}

.mt-20 {
    margin-top: 20px;
}

#contacts {
    height: 80vh;
}

#work-1-b {
    height: 62vh;
    margin-top: 30vh;

}
#work-1-1 {
    transition: 2s;
}
#work-1-b h1{
    letter-spacing: 0.1em;
    font-size: 64px;
    color: #dbd9d9;

}
#work-1-b h3{
    letter-spacing: 0.1em;
    font-weight: 600;
    font-size: 18px;
    color: #dbd9d9;

}
#work-1-b em{
    color: #F5C405;
}
.btn-yellow {
    width: 100px;
    font-weight: 700;
    background-color: #F5C405 !important;
    color: #69768d !important;
}
.btn-yellow:hover {
    background-color: #d2a101 !important;
    color: #dbd9d9 !important;
}




#work-body {
    background-image: url("../img/struct.jpg");
    background-attachment: fixed;
    position: relative;
}

#work-cards {
    margin-top: 290px;
    transition: all 0.4s ease-in-out;
    position: relative;
}
.card-title {
    margin-bottom: 30px !important;


}

#work-cards:hover{
    transition: all 0.4s ease-in-out;
    margin-top: 80px;

}
footer {
    position: relative;
    z-index: 20;
    text-decoration: none;
}
#termsAndConditions a{
    text-decoration: none;
    color: #fafafa;
}
#termsAndConditions a:hover{
    text-decoration: underline;
}


.cards-work {
    background-color: #dbaa00 !important;
}

.breadcrumb {
    margin-top: 10px;
    text-transform: uppercase;
}

.breadcrumb a {
    color: #535353 !important;
    text-decoration: none;
}
.breadcrumb .active {
    color: #dbaa00 !important;

}

.nav-item:hover #drop{
    display: block;
}



#drop:hover {
    color: #252636 !important;
    display: block;
    position: absolute;
    max-width: 200px;
    transition: all 0.4s ease-in-out;
    margin-bottom: 80px;
}

#drop a:hover {
    background-color: #252636;
    border-radius: 0 0 10px 10px;
    transition: all 0.6s ease-in-out;
    margin-bottom: 10px;
    font-size: 16px;
}

#drop {
    font-family: Roboto,sans-serif;
    font-size: 16px;
    background: #252636; !important;
    width: 200px;
    border-radius: 0 0 10px 10px;
}

#drop a{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}





.chat-img {
    position: fixed;
    width: 4vw;
    height: auto;
    margin-top: 45vh;
    margin-left: 92vw;
    z-index: 11;
    transition: 1s;
}

.chat-img:hover {
    /*transform: scale(1.2);*/
    transition: 1s;
    transform: translateX(-20px);
    color: red;
    filter: brightness(0.7);
}


/*#### CONTACT FORM */
.bg-gradient-vs{
    background: rgb(37,38,54);
    background: linear-gradient(360deg, rgba(37,38,54,1) 0%, rgba(146,147,155,1) 26%, rgba(255,255,255,1) 100%);
}
#contact-form {
    margin-top: 20vh;
    margin-bottom: 50vh;
}

#contact-form h2{
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    font-size: 42px;
    transition: 1s;
}





.home-form {
    border-radius: 30px;
    border-style: none;
    height: 45px;
    color: lightslategray;
}
.home-form:placeholder-shown {
    padding-left: 20px;
}
.home-form-text {
    border-radius: 10px;
    height: 100px;
    max-height: 200px;
}
.home-form-text:placeholder-shown {
    padding-top: 10px;
}

.btn-send {
    background-color:#F5C405 !important;
    width: 100%;
    border-style: none!important;
    border-radius: 40px!important;
    height: 50px;
    color: #fafafa!important;
    font-family: Montserrat,sans-serif;
    font-weight: bold!important;
    font-size: 22px!important;
    text-transform: uppercase;
}



#send-logo {

    /*position: absolute;*/
    margin-top: 30vh;
    /*margin-bottom: 40vh;*/
    margin-left: 10vw;
    transition: 2s;
}
#send-logo:hover {

}



#yellow-bar {
    font-family: Montserrat,sans-serif;
    height: 30vh;
    background-image: url("../img/wall.png");
    background-attachment: fixed;
}
#yellow-bar h2 {
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}
#yellow-bar p {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.btn-vs-w {

    width: 20%;
    border-style: none!important;
    border-radius: 40px!important;
    height: 50px;
    color: #fafafa!important;
    font-family: Montserrat,sans-serif;
    font-weight: bold!important;
    font-size: 22px!important;
    text-transform: uppercase;
}
.btn-grey {
    background: rgb(37,38,54) !important;
}

.btn-grey:hover {
    background: rgba(37, 38, 54, 0.8) !important;
}
.btn-yellow {
    background: #F5C405 !important;
}





/*#######################*/


#what-we-do-banner {
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: Montserrat,sans-serif;
}


#what-we-do-banner h2{
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 20px;
}

#what-we-do-banner p{
    font-size: 18px;
    margin-bottom: 20px;
}




#what-we-do-banner a{
    font-family: Montserrat,sans-serif !important;
    font-weight: 500!important;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.banner-img {
    width: 12vh;
    height: 12vh;
}

.bg-vs-yellow {
    background-color: #F5C405;
}







@media screen and (min-width: 0px) and (max-width: 1200px)
{


    .btn-vs-w {
        width: 60vw;
    }
    #navbarNav { display: none;
    }
    #home-first {
        /*    height: 100vh;*/
        /*position: absolute;*/

    }

    #mobile-number {
        display: none;
    }

    .main-cont-4 {
        height: auto;
    }

    #mobile-cards {
        margin-top: 20px;
    }

    #work-1-b h1{
        font-family: "Montserrat ExtraBold",sans-serif;
        letter-spacing: 0.1em;
        font-size: 44px;
        color: #dbd9d9;

    }

}

/*## Color picker#*/
.yellow {
    background-color: #F5C405;
}
.dark-yellow {
    background: #dbaa00
}
.dark-vs {
   background-color:  #252636;
}

